.results-found-text {
    color: #555;
    font-size: 14px;
    margin-bottom: 15px;
}

.results-not-found-text {
    padding: 15px 0;
}

.results-list {
    width: '100%';
    margin-top: 15px;
    overflow-y: scroll;
    height: calc(100vh - 250px);
}

.loading-container {
    padding: 15px 0;
}